* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #7c4dff;
}

p {
    display: block;
    text-align: center;
    max-width: 400px;
}

.background-audio {
    display: none;
}

section {

}
